<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if page.title %}{{ page.title }} - {% endif %}{{
            config.site_name}}
        </title>
        {% if config.site_favicon %}
        <link rel="shortcut icon" href="{{ config.site_favicon|url }}" />
        {% else %}
        <link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}" />
        {% endif %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/tronic247/material/dist/css/material.min.css"
        />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" /> 
        <link rel="stylesheet" href="{{ base_url }}/style.css" />
    </head>
    <body class="container-fluid p-0 m-0">
        <header
            class="appbar elevation-4"
            style="position: fixed; top: 0; left: 0; width: 100%"
        >
            <section class="section left">
                <a class="title text-white" href="{{nav.homepage.url|url}}"
                    >Tronic247 Material</a
                >
            </section>
            <section class="section right"><input id="search" placeholder="Search"></section>
        </header>
        {% block content %}{% endblock %}
        <footer class="p-4 background-primary text-white">
            <p>People who supported this project:</p><br>
            <a href="https://github.com/tronic247/material-docs/graphs/contributors">
                <img src="https://contrib.rocks/image?repo=tronic247/material-docs" />
            </a><br><br>
             <p>A framework by <a href="http://tronic247.com/?ref=material" class="text-white" rel="follow">Tronic247</a></p><br>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/tronic247/material/dist/js/material.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/gh/dieulot/instantclick@master/src/instantclick.js"
            data-no-instant
        ></script>
        <script data-no-instant>
            InstantClick.init("mousedown");
        </script>
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>
        <script
            data-ad-client="ca-pub-8836219589547174"
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
        ></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script>
            hljs.highlightAll();
        </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
     <script type="text/javascript"> docsearch({apiKey: '2f622bb017fc137b9c550c565cb2452e',indexName: 'tronic_material',inputSelector: '#search',debug: !1});</script> 
    </body>
</html>
