{% extends "base.html" %}
{% block content %}
    <div class="text-center text-white p-5 background-primary" style="margin-top: 57px;">
        <div class="p-4 m-4"></div>
        <h1 class="h3">Tronic247 Material</h1>
        <br />
        <p class="h5">Material design framework based on <b>jQuery</b></p>
        <br />
        <br />
        <a href="getting-started/" class="btn secondary unelevated">Getting Started</a>
        <a href="https://github.com/Tronic247/material" class="btn secondary unelevated">Github</a>
        <br />
        <br />
        <a class="github-button" href="https://github.com/tronic247/material-docs" data-icon="octicon-star" data-show-count="true" aria-label="Star tronic247/material-docs on GitHub">Star</a>
        <a class="github-button" href="https://github.com/tronic247/material-docs/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch tronic247/material-docs on GitHub">Watch</a>        <div class="p-4 m-4"></div>
    </div>
    <div class="container">
        <div class="row text-left">
            <div class="col text-muted p-4 m-2">
                <p class="h5">Free templates</p>
                <br />
                <p>Over 10+ templates to star your project. Without starting from scratch.</p>
                <br />
                <button class="outlined">Coming soon</button>
            </div>

            <div class="col text-muted p-4 m-2">
                <p class="h5">Request a feature</p>
                <br />
                <p>If you don't see a feature, you can request it from our <b>Github repository</b>.</p>
                <br />
                <a href={{ config.main_repo_url + '/issues/new?assignees=Tronic247&labels=documentation%2C+enhancement%2C+help+wanted&template=feature_request.md&title=' }} class="btn outlined">Request a feature</a>
            </div>

            <div class="col text-muted p-4 m-2">
                <p class="h5">Code for us</p>
                <br />
                <p>If this framework helped you a lot, don't forget to help us on GitHub and spread the word.</p>
                <br />
                <a href="{{ config.main_repo_url }}/labels/Feature%20request" class="btn outlined">See what to do</a>
            </div>
        </div>
    </div>
    <style>
    p:not(button, .btn) {
        line-height: 33px;
    }
    </style>
{% endblock %}
