{% extends "base.html" %}
{% block edit_btn %}
    <a class="btn" href={{ page.edit_url }}>Edit this page</a>
{% endblock %}
{% block content %}
	<div class="p-4"></div>
	<div class="background-primary page-title">
		<h1 class="h4 text-white">{{ page.title }}</h1>
	</div>
	<article class="row sides p-0 container-fluid">
		<div class="row">	
		<aside class="col-3">
			<div class="list small">
				{% if nav|length>1 %}
				{% for nav_item in nav %} {% if nav_item.children %}
				<p><strong>{{ nav_item.title }}</strong></p>
				{% for nav_item in nav_item.children %}
				<a
				class="
				list-item ripple-e
				{%
					if
					nav_item.active%}active{%
					endif
					%}
					"
					href="{{ nav_item.url|url }}"
					>
					{{ nav_item.title }}
				</a>
				{% endfor %}
				{% else %}
				<a class="list-item ripple-e {% if nav_item.active%}active{% endif %}" href="{{ nav_item.url|url }}">
					{{ nav_item.title }}
				</a>
				{% endif %} {% endfor %}
				{% endif %}
			</div>
		</aside>
		<main class="col-3 p-3">
			{{ page.content }}
		</main>
	</div>
	</article>
	</div>
{% endblock %}
