.turbo-progress-bar {
    visibility: hidden;
}

.appbar {
    z-index: 999;
}

.page-title {
    padding: 2.5em;
    padding-left: 1.5em;
    width: 100%;
}

.sides aside {
    width: 25%;
}

aside .list {
    position: sticky;
    top: 57px;
    border-top: 0;
}

@media screen and (max-width: 640px) {
    .sides aside {
        flex: none;
        width: 100%;
    }

    .sides main {
        word-wrap: break-word;
        width: 100%;
        margin: 0 auto;
    }
}