.turbo-progress-bar {
    visibility: hidden;
}

.appbar {
    min-height: 57px;
    z-index: 999;
}

h3 {
	font-size: 30px !important;
	margin: 20px 0px;
	border-bottom: 1px solid gainsboro;
	padding: 0px 0px 11px 0px;
}
h4 {
	font-size: 24px !important;
	margin: 10px 0px;
}
p:not(button , .btn) {
	line-height: 33px;
}
ul {
	list-style: cambodian !important;
	margin: 10px 39px;
	line-height: 37px !important;
}
li:before {
	content: "";
	height: 10px;
	width: 10px;
	background: #707070;
	display: inline-block;
	margin-right: 10px;
	border-radius: 100px;
}

.appbar .title {
    color: white;
}
* {
    text-overflow: clip;
    overflow: auto;
}

.page-title {
    padding: 2.5em;
    padding-left: 1.5em;
    width: 100%;
}

.sides aside {
    width: 25%;
}

aside .list {
    position: sticky;
    top: 57px;
    border-top: 0;
}

.sides main {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .sides aside {
        flex: none;
        width: 100%;
    }

    .sides main {
        word-wrap: break-word;
        width: 100%;
    }
}
