.turbo-progress-bar {
    visibility: hidden;
}

.sides {
    display: flex;
    flex-direction: column;
}

.sides .list {
    margin-top: 3.7em;
    border-top: 0;
}

@media screen and (min-width: 640px) {
    .sides {
        flex-direction: row;
    }

    .sides .list {
        position: fixed;
        top: 3.7em;
        height: 100vh;
        width: 25vw;
        border-bottom: 0;
        margin-top: 0;
    }

    .container.main {
        margin-left: calc(25vw + 1em);
    }
}

.container.main {
    padding: 1em;
    margin-top: 3.7em;
}

.list p {
    padding: 0.7em;
}

.name span {
    font-weight: 300;
}

.appbar a.icon {
    position: relative;
    top: -23px;
}